version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: /frontend/Dockerfile
    ports:
      - "80:80"
    environment:
      - NODE_ENV=${NODE_ENV}
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=${NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY}
